@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kanit&display=swap");

body {
  font-family: "Kanit", sans-serif;
  background-color: rgb(193, 217, 228);
}

div .nav-container {
  /* padding-top: 50px;
  border-style: solid;
  border-color: red;
  border-width: 10px; */
  padding-bottom: 20px;
}

.filter-bar {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #5bc0de;
  border-width: .25rem;
  border-radius: .25rem
  }

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}
